* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.block {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* -------------BOTTONI------------- */
.btn {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    font-size: 14px;
}

.header-btn button {
    font-size: large;
    margin-left: 10px;
}

.btn-light {
    background-color: white;
    font-weight: 500;
}

.btn-light:hover {
    background-color: #e2e6ea;
}

.btn-dark {
    color: white;
    background-color: #23272a;
}

.btn-dark:hover {
    background-color: #424649;
}

.btn-primary {
    color: white;
    background-color: #7289da;
}

.btn-primary:hover {
    background-color: #7b93e8;
}
/* ---------------------------------HEADER--------------------------------- */

/* -------------SOPRA------------- */

header {
    color: white;
}

.header-top {
    text-align: center;    
    background-color: #255ee9;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav > .nav-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 0 12%;
}

.nav > .nav-links > li {
    list-style: none;
}

.nav > .nav-links > li > a {
    text-decoration: none;
    color: white;
}

.nav > .nav-links > li > a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.nav > .nav-logo, .nav-login {
    width: 20%;
}

.nav-logo {
    text-align: center;
    margin-left: 70px;
}

.nav-login {
    text-align: center;
    margin-right: 70px;
}

/* -------------SOTTO------------- */

.header-bottom {
    height: 580px;
    background-image: url('img/jumbo.png');
    background-size: cover;
    background-position: 0 60%;
}

.header-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 120px;
    font-size: x-large;
}

.header-block h1 {
    letter-spacing: 2px;
}

.header-block p {
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 2;
    font-size: large;
}

/* ---------------------------------MAIN--------------------------------- */

section:nth-child(even) {
    background-color: #f6f6f6;
}

main section:first-child {
    margin-top: 30px;
}

main section:nth-child(1):after,
main section:nth-child(3):after {
    content: "\00a0";
    display: block;
    background-image: url('img/wave.svg');
    height: 100px;
}

main section:nth-child(3):before {
    content: "\00a0";
    display: block;
    background-image: url('img/wave.svg');
    transform: rotateX(180deg);
    height: 100px;
}

main h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

main h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
}

main p {
    line-height: 1.5;
}

.block-small {
    width: 30%;
    padding-top: 30px;
    margin: 40px 0;
}

.block-small:nth-child(1) {
    margin-left: 70px;
}

.block-big {
    width: 60%;
    margin: 40px 0;
}

.block-big:nth-child(2) {
    margin-left: 135px;
}

.block-bigger {
    width: 70%;
    text-align: center;
}

.main-btn {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 25px;
    background-image: url('img/stars.svg');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 47%;
}

/* --------------------------------FOOTER--------------------------------- */

/* -------------SOPRA------------- */

footer .block {
    padding-top: 100px;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 15px 0;
    font-size: small;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

footer .footer-col-small a:hover {
    text-decoration: underline;
}

footer h3 {
    color: #7289da;
    font-size: 20px;
    letter-spacing: 1.5px;
}

footer h4 {
    color: #7289da;
    font-size: small;
}

footer > section {
    background-color: #23272a;
}

.footer-col-big {
    width: 30%;
    margin-top: -30px;
}

.footer-col-big img, .footer-col-big p {
    display: inline-block;
}

.footer-col-big img {
    height: 15px;
}

.footer-col-big p {
    color: white;
    margin: 15px 0;
    font-size: small;
}
.footer-icons * {
    color: white;
    padding: 0 3px;
}

.footer-col-small {
    width: calc(100%/5);
    margin-top: -30px;
    margin-left: 140px;
}

/* -------------SOTTO------------- */

footer hr {
    height: 1.5px;
    border: none;
    background-color: #7289da;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    padding-top: 5px;
}

.footer-nav-logo, .footer-nav-button {
    height: 37px;
    padding: 6px 10px;
}

/* ---------------------------------DEBUG--------------------------------- */

/* ------------HEADER------------ */

 .debug .nav {
   background-color: #daa520;
   height: 45px;
   border: 2px dashed black;
}

.debug .nav-logo {
    border-right: 2px dashed black;
    height: 200%;
    line-height: 40px;
}

.debug .nav-login {
    border-left: 2px dashed black;
    height: 200%;
    line-height: 40px;
}

.debug .header-bottom {
    background-color: #00008b;
}

.debug .header-block {
    background-color: #ee82ee;
}

/* ------------MAIN------------ */

.debug .header-block, 
.debug .block-small, 
.debug .block-big, 
.debug .block-bigger{
    height: 400px;
    border: 2px dashed black;
}

.debug .block-big {
    background-color: #1e90ff;
}

.debug .block-small {
    background-color: #ffc0cb;
}

.debug .block-bigger {
    background-color :#228b22;
    height: 900px;
}

/* -----------FOOTER----------- */

.debug .footer-col-big {
    height: 580px;
    background-color: #f08080;
    border: 2px dashed black;
}

.debug .footer-col-small {
    height: 580px;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.debug .footer-nav {
    height: 80px;
    background-color: #7fffd4;
}

.debug .footer-nav-logo, .debug  .footer-nav-button {
    background-color: #ffb6c1;
    border: 2px dashed black;
}